<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Typica 1.6.4</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>com.wilsonscoffee.@EXECUTABLE@</string>
	<key>CFBundleDisplayName</key>
	<string>Typica</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.4</string>
	<key>CFBundleVersion</key>
	<string>1.6.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2007–2015 Neal Wilson</string>
</dict>
</plist>
